.next/
.env
node_modules/
dist/
build/
out/
coverage/
*.log
prisma/generated/
prisma/migrations/
*.db
*.db-journal
.vscode/
.DS_Store
Thumbs.db
.idea/
.npm/
.yarn/
.pnpm-store/
.turbo/
.vercel/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.local
.env.*.local
